#chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#chat-window {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
}

#chat-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

#chat-form input,
#chat-form button {
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#chat-form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

#send-button {
  background-color: #9146ff;
  color: #fff;
  cursor: pointer;
}
